body {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/putin.jpg');
  background-color: lightblue;
  width: 100vw;
  height: 100vh;
  color: white;
}

h1 {
  font-style: oblique;
  border: 1px solid yellow;
  width: 15rem;
  text-align: center;

}
